<!-- Page Content -->
<div class="container">
    
      <div class="row">
    
        <!-- <div class="col-lg-4">
          <p-calendar [inline]="true"></p-calendar>
        </div> -->
        <div class="col-lg-8">
    
          
          <div class="card ">
            <div class="card-body">
                <!-- <a routerLink="/">Go to about listing</a> -->
                <p-fileUpload name="myfile" url="http://127.0.0.1:8000/api/upload-file"
                accept="image/*" auto="true"></p-fileUpload>
              <!-- <h3 class="card-title">About Page</h3> -->
              <!-- <p class="lead">Please this form.</p> -->
              
            </div>
          </div>
          <!-- /.card -->
    
        </div>
        <!-- /.col-lg-9 -->
    
      </div>
      
    </div>
    <!-- /.container -->
    
    
    