<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="card " style="width:400px">
        <div class="card-header">Local News</div>
        <div class="card-body">Naresh Kukreti</div>
        <p class="card-text">Want some protection against the roll back of net neutrality?We'vegot an option.</p>
        <img class="card-img-top" src="assets/images/ladybug-796481_960_720.jpg" alt="Card image">
        <p class="card-text">Net neutrality isn't dead.In fact,the fight to promote an evenplaying field for all users of the.</p>
      </div>
    </div>
  </div>
</div>