<!-- Page Content -->
<div class="container">
  
    <div class="row">
      <div class="col-lg-8">
        <div class="card ">
          <div class="card-body">
              <!-- <a routerLink="/list-vehicle">Go to vehicle listing</a> -->
            <h3 class="card-title">Vehicle Edit Form</h3>
            <p class="lead">Please fill in the following vehicle edit form.</p>
            <form (ngSubmit)="editVehicleInfo(editVehicleForm.value)" [formGroup]="editVehicleForm">
                <p-messages [(value)]="msgs"></p-messages>
              <div class="form-group">
                  <label for="vehicle_name">Vehicle Name:</label>
                  <input type="text" class="form-control" id="vehicle_name" formControlName="vehicle_name">
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" formControlName="description"></textarea>
              </div>
              <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" id="year" formControlName="year">
              </div>
              <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" formControlName="make">
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" formControlName="model">
              </div>
              <div class="form-group">
                <label for="country">Country:</label>
                <select class="form-control" formControlName="country" (change)="loadStates($event.target.value)">
                  <option value="">Select Country</option>
                  <option *ngFor="let country of countries" value="{{ country.id }}">{{ country.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="state">State:</label>
                <select class="form-control" formControlName="state" (change)="loadCities($event.target.value)">
                  <option value="">Select State</option>
                  <option *ngFor="let state of states" value="{{ state.id }}">{{ state.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <select class="form-control" formControlName="city">
                  <option value="">Select City</option>
                  <option *ngFor="let city of cities" value="{{ city.id }}">{{ city.name }}</option>
                </select>
              </div>
              <button  type="submit" class="btn btn-default" [disabled]="editVehicleForm.status=='INVALID'">Submit</button>
              </form>
          </div>
        </div>
        <!-- /.card -->
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
    
  </div>
  <!-- /.container -->
  
  
  